.line{
    height: 1px;
    width: 100%;
    position: relative;
    
    svg{
        position: absolute;
        height: 100px;
        width: 100%;
        top: -50px;

        path{
            stroke-width: 1px;
            fill: none;
        }
    }
    .box{
        height: 40px;
        width: 100%;
        display: flex;
        position: relative;
        top: -20px;
        z-index: 1;
    }
    
}