.main{
    background-color: white;
    width: 100%;
    .projectContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5rem;
        margin-top: 5rem;
        gap: 3rem;
        .project{
            width: 100%;
            display: flex;
            flex-direction: row;
            border-top: 2px solid #a0a0a0a0;
            padding-top: 3rem;
            gap: 3rem;

            &:last-child{
                padding-bottom: 3rem;
                border-bottom: 2px solid #a0a0a0a0;
            }
            .projectImg{
                width: 25%;
                height: 250px;
            }
            .content{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 100%;
                .title{
                    font-size: 32px;
                    font-weight: 500;
                }
                .desc{
                    font-size: 24px;
                    font-weight: 300;
                }
                .lang{
                    display: flex;
                    flex-direction: row;
                    gap: 3rem;
                }
                .links{
                    align-self: flex-end;
                    font-size: 20px;
                    a{
                        margin-left: 3rem;
                    }
                }
            }
        }
    }
}