.navbar{
    position: absolute;
    display: flex;
    z-index: 2;
    top: 0;
    color: white;
    padding: 16px 32px;
    justify-content: space-between;
    width: 100%;
    font-weight: 300;
    box-sizing: border-box;
    align-items: center;

    .nav{
        display: flex;
        align-items: center;
        @media (max-width: 700px) {
            display: none;
        }

        .el{
            display: flex;
            flex-direction: column;
            position: relative;
            z-index: 1;
            padding: 15px;
            cursor: pointer;

            &:hover{
                .indicator{
                    transform: scale(1);
                }
            }
            .indicator{
                position: absolute;
                width: 5px;
                height: 5px;
                top: 45px;
                left: 50%;
                background-color: white;
                border-radius: 50%;
                transform: scale(0) translateX(-50%);
                transition: transform 0.2s cubic-bezier(0.76, 0, 0.24, 1);
            }
        }
        a{
            color: white;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            cursor: pointer;
        }
    } 
}
.logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    img{
        object-fit: contain;
        max-height: 50px;
        user-select: none;
        @media (max-width: 430px){
            max-height: 40px;
            max-width: 232px;
        }
        @media (max-width: 360px){
            max-height: 35px;
            max-width: 203px;
        }
    }
}
.menuButton{
    z-index: 10;
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    display: none;

    @media (max-width: 700px){
        display: block;
    }
    @media (max-width: 360px){
        font-size: 14px;
    }
}