.menu{
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    max-width: 100vw;
    background-color: rgb(41, 41, 41);
    color: white;
    z-index: 9;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .75);

    .body{
        padding: 100px 50px 100px 100px;
        display: flex;
        flex-direction: column;
        height: 100%;
        box-sizing: border-box;
        justify-content: space-between;

        .nav{
            display: flex;
            flex-direction: column;
            font-size: 56px;
            gap: 12px;
            margin-top: 80px;

            .header{
                color: rgb(153, 153, 153);
                border-bottom: 1px solid rgb(153, 153, 153);
                text-transform: uppercase;
                font-size: 11px;
                margin-bottom: 40px;
            }
            a{
                text-decoration: none;
                color: white;
                font-weight: 300;
            }
        }
    }
    .footer{

        display: flex;
        width: 100%;
        justify-content: space-between;
        font-size: 12px;
        gap: 40px;

        a{
            text-decoration: none;
            color: white;
            font-weight: 100;
            font-size: 16px;
            &::after{
                content: "";
                width: 0%;
                height: 1px;
                background-color: white;
                display: block;
                margin-top: 2px;
                position: relative;
                left: 50%;
                transform: translateX(-50%);
                transition: width 0.2s linear;
            }
            &:hover{
                &::after{
                    width: 100%;
                }
            }
        }

    }
}